@charset "UTF-8";
header, .navbar-light {
  width: 100vw; }

/* RESET */
* {
  margin: 0 auto;
  /* para centrar toda la pagina */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* asi logro que todos los enlaces en el html dejen de tener subrayado */
  list-style: none;
  /* asi logro que todos los enlaces en el html dejen de tener viñetas */
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

/* HEADER */
.navbar-light {
  background-color: #DD161B;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }

.enlacesNav {
  color: white !important; }
  @media only screen and (min-width: 992px) {
    .enlacesNav:hover {
      color: #DD161B !important;
      background-color: white;
      transform: translate(0, 5px);
      transition: 0.25s; } }

.navLogo {
  width: 50vw; }
  @media only screen and (min-width: 576px) {
    .navLogo {
      width: 33vh; } }

/* main index */
main {
  max-width: 1024px; }
  main .mainIndex .heroImage {
    background-image: url(../images/Panaderia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    main .mainIndex .heroImage .heroImageCapa {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.75); }
      main .mainIndex .heroImage .heroImageCapa .heroImageTitulo {
        font-size: 7.5vw;
        /* para no tener que estar cambiando el tamaño de las letras con mediasqueries. Hay que ir probando...FLUID DISIGN. Trabajar sin medias queries */
        color: white; }
  main .mainIndex2 .tituloIndex {
    font-size: 1.5rem;
    color: #DD161B;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  main .mainIndex2 .articleIndex {
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    background-color: #DD161B; }
    main .mainIndex2 .articleIndex .parrafoIndex {
      padding: 1rem;
      color: white; }
  main .mainIndex2 .cajaImagenIndex {
    margin: 1rem;
    text-align: center; }
    main .mainIndex2 .cajaImagenIndex .imagenIndex {
      border-radius: 1rem;
      width: 80vw; }

/* main contacto */
.boton {
  margin: 15px;
  border-color: #DD161B;
  color: #DD161B; }

.widthDiv {
  width: 400px;
  text-align: center; }

.centrado {
  text-align: center; }

.contacto {
  display: flex;
  flex-direction: column; }

/* FOOTER */
footer .footerTitulos {
  border-top: solid thick #DD161B;
  padding-top: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around; }
  footer .footerTitulos article {
    text-align: center;
    width: 33vw; }
    footer .footerTitulos article h3 {
      font-size: 150%; }
    footer .footerTitulos article p {
      font-size: 80%; }

footer .footerIconos {
  display: flex;
  justify-content: space-around; }
  footer .footerIconos article {
    text-align: center;
    width: 33vw; }
    footer .footerIconos article img {
      width: 50%; }
