@import "../utilities/variables";
@import "../utilities/mixin";
@import "../utilities/map";

main{
  max-height: 1024px;
  .mainContacto{
    .tituloContacto{
      @include h2Titulos;
    }
    form{
      @include centrado;
      div{
        label{
          @include displayBlock;
          @include subtitulos;
          color: $colorPrincipal;
        }
        input{
          @include centrado;
          @include margen;
          width: 50%;
        }
        select{
          @include centrado;
          @include margen;
          width: 50%;
        }
      }
      div{
        .botonEnviar{
          color: map-get($map: $enviar, $key: color-enviar);
          background-color: map-get($map: $enviar, $key: bg-enviar);
          @include boton;
        }
        .botonBorrar{
          color: map-get($map: $borrar, $key: color-borrar);
          background-color: map-get($map: $borrar, $key: bg-borrar);
          @include boton;
        }
      }
    }
  }
}