@import "../utilities/variables";
@import "../utilities/mixin";

main{
    max-width: 1024px;
    .mainIndex{
        .heroImage{
            background-image: url(../images/Panaderia.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .heroImageCapa{
                width: 100%;
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.75);
                .heroImageTitulo{
                    font-size: 7.5vw; /* para no tener que estar cambiando el tamaño de las letras con mediasqueries. Hay que ir probando...FLUID DISIGN. Trabajar sin medias queries */
                    color: white;
                }
            }
        }
    }
    .mainIndex2{
        .tituloIndex{
            @include h2Titulos;
        }
        .articleIndex{
            @include cajaParrafosGral;
            .parrafoIndex{
                @include parrafosGral;
            }
        }
        .cajaImagenIndex{
            @include cajaImagenesGral;
            .imagenIndex{
                @include imagenesGral;
            }
        }
        @media only screen and (min-width:992px){
            display: grid;
            grid-template-areas: "tituloIndex tituloIndex"
                                 "articleIndex divGrid1"
                                 "divGrid2 divGrid2";
            grid-template-columns: 50% 50%;
            
            .tituloIndex{
                grid-area: tituloIndex;
                width: 80%;
            }
            .articleIndex{
                grid-area: articleIndex;
            }
            .divGrid1{
                grid-area: divGrid1; //divGrid1 y 2, nombre de clases de img de index solo a modo de generar un grid area
            }
            .divGrid2{
                grid-area: divGrid2;
            }
        }
    }
    
}