//importacion de variables
@import "../utilities/variables";

@mixin h2Titulos{
    font-size: $h2Titulo;
    color: $colorPrincipal;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@mixin subtitulos{
    font-size: $subtitulo;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@mixin parrafosGral{
    padding: 1rem;
    color: white;
    text-align: center;
}

@mixin cajaParrafosGral{
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorPrincipal;
}

@mixin imagenesGral{
    border-radius: 1rem;
    width: 80%;
    @media only screen and (min-width:992px){
        width: 100%;
    }
}

@mixin cajaImagenesGral{
    margin: 1rem;
    text-align: center; 
}

@mixin footerArticle{
    text-align: center;
    width: 33%;
}

@mixin hoverEnlace{
    .navItem{
       background-color: white; 
       transform: translate(0, 5px);
       transition: 0.25s;
    }
    color: $colorPrincipal;
}

@mixin centrado{
    text-align: center;
}

@mixin displayBlock{
    display: block;
}

@mixin margen{
    margin-bottom: 1rem;
}

@mixin boton{
    border-radius: 1rem;
    border: thin solid $colorPrincipal;
}

