//importacion de extends
@import "utilities/extend";

//importacion de Variables
@import "utilities/variables";

/* RESET */
//importacion de reset
@import "utilities/reset";

/* HEADER */
//manipulacion de navbar con bootstrap
header{
    @extend %anchoTotal;
}

.navbar-light{
    background-color: $colorPrincipal;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    @extend %anchoTotal;
}   

.enlacesNav{
    color:white !important;
    @media only screen and (min-width:992px){
        &:hover{
            color:$colorPrincipal !important;
            background-color: white; 
            transform: translate(0, 5px);
            transition: 0.25s;
        }
    } 
}

.navLogo{
    width: 50vw;
    @media only screen and (min-width:576px){
        width: 33vh;
    }
}


/* main index */
@import "layout/main.scss";

/* main quienes somos */
@import "layout/quienes-somos.scss";

/* main que usamos */
@import "layout/que-usamos.scss";

/* main que usamos */
@import "layout/productos.scss";

/* main contacto */
@import "layout/contacto.scss";

/* FOOTER */
footer{
    border-top: solid thick $colorPrincipal;
    .footerTitulos{
        padding-top: 1rem;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width:410px){ //para no romper el footer por debajo de 410px
            flex-direction: column;
        }
        article{
            @include footerArticle;
            h3{
                font-size: 150%;
            }
            p{
                font-size: 80%;
            }
            @extend %footerArticle;
        }
    }   
    .footerIconos{
        display: flex;
        justify-content: space-around;
    
        article{
            @include footerArticle;
            img{
                width: 50%;
            }
        }
    }
    @media only screen and (min-width:992px){
        display: grid;
        grid-template-areas: "footerTitulos footerIconos";
        grid-template-columns: 1fr 1fr;

        .footerTitulos{
            grid-area: footerTitulos;
            font-size: 1em;
            width: 50vw;
        }
        .footerIconos{
            grid-area: footerIconos;
            width: 50vw;
            margin-top: 1.5rem;
            article{
                img{
                    width:30%;
                }
            }
            
        }
    }
}
